header{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
}
ul{
    display: flex;
    position: relative;
}
ul li{
    justify-content: space-between;
    position: relative;
}
.level1{
    margin: 0rem 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}
.level2-container{
    position: absolute;
    left: 0;
    display: none;
}
.collections:hover .level2-container{
    position: absolute;
    display: block;
}

.level2{
    position: relative;
    width: 100%;
}